body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 40px;
}

/* Section 1 */
#first-colored-h1 {
    color: peru;
}
.sec-1 {
    display: flex;
    justify-content: space-around;
}
.sec-1 div {
    padding-top: 50px;
    width: 40%;
}
.hi-h1 {
    border-left: 8px double #32a1ce;
    font-family: 'Righteous', cursive;
}
#span-1 {
    color: indianred;
    font-family: 'Baloo 2', cursive;
}
.img-1 {
    width: 25%;
    justify-content: space-around;
}
.btn-1 {
    padding: 15px 25px;
    background: brown;
    color: white;
    border: 4px ridge;
    border-radius: 18px;
    transition: .3s;
}
.btn-1:focus {
    box-shadow: inset 0 0 11px 2px black;
}
.small-caps {
    font-variant: small-caps;
}
/* Section 1 end */
/* Section 2 */
.sec2-h1 {
    text-align: center;
}
#span-2 {
    color: blue;
}
.mission-div {
    margin: auto 120px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.sec2-div {
    height: auto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}
.sec2-div p {
    padding: 10px;
}
.img-illustrator {
    height: 200px;
    width: 200px;
}
.div2-1st {
    background-color: pink;
}
.div2-2nd {
    background-color: lightblue;
}
.div2-3rd {
    background-color: lightgreen;
}
/* Section 2 end */
.mid-h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Baloo 2', cursive;
    color: orangered;
    text-decoration: underline;
}
/* Section 3 and 4 */

.sec-3-4 {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.sec-3-4 div {
    width: 50%;
}
.img-benifit {
    height: 400px;
}
.support {
    color: mediumpurple;
}
.benifit-btn {
    padding: 10px;
    background-color: orange;
    border: 3px orchid groove;
    border-radius: 8px;
    transition: 0.3s;
}
.benifit-btn:focus {
    box-shadow: inset 0 0 4px 1px black;
}
.sec-3 {
    background: url("images/shape-4.png");
    background-size: 500px;
    background-position: right;
    background-repeat: no-repeat;
}
.sec-4 {
    background: url("images/shape-1.png");
    background-size: 1150px;
    background-position: left;
    background-repeat: no-repeat;
}
/* Section 3 and 4 end */
/* Footer section */
footer {    
    background: black;
    text-align: center;
}
.foot {
    margin-top: 80px;
    padding: 30px;
}
footer h1 {
    margin-bottom: 0;
    color: white;
    font-size: 50px;
    font-family: 'Twinkle Star', cursive;
}
.foot-span-color {
    color: mediumvioletred;
}
footer h2 {
    color: mediumblue;
}
footer p {
     margin-bottom: 0;
     color: whitesmoke;
 }